<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Header Area Start -->
<header class="top">
    <div class="header-area header-sticky fixed">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="home/index"><img src="~/img/logo/logo.png" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="content-wrapper one">  
                        <!-- Main Menu Start -->
                        <div class="main-menu one text-right">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="home/index">Home</a>
                                    </li>
                                    <li><a href="about/index">About</a></li>
                                    <li>
                                        <a href="courses/index">courses</a>
                                        <ul>
                                            <li><a href="courses/index">courses</a></li>
                                            <li><a href="coursesdetail/index">courses details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="event/index">event</a>
                                        <ul>
                                            <li><a href="event/index">event</a></li>
                                            <li><a href="eventdetail/index">event details</a></li>
                                        </ul>
                                    </li>
                                    <li class="hidden-sm">
                                        <a href="teacher/index">teacher</a>  
                                        <ul>
                                            <li><a href="teacher/index">teacher</a></li>
                                            <li><a href="teacherdetail/index">teacher details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog/index">blog</a>
                                        <ul>
                                            <li><a href="blog/index">blog</a></li>
                                            <li><a href="blogdetail/index">blog details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact/index">Contact</a></li>
                                    <li><a href="#">Buy Now</a> 
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md one"></div>
                        <!-- Main Menu End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->